
#body{
    font-family: 'Sedgwick Ave Display', cursive;
    background-image: linear-gradient
    (to the bottom right, rgb(29, 56, 175), rgb(101, 11, 119));
}
element.style{
    background-image: linear-gradient
    (to the bottom right, rgb(29, 56, 175), rgb(101, 11, 119));
}






